<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Api with Backend</title>
    <link rel="stylesheet" href="homepage.css">
    <script src="homepage.js" defer></script>
</head>
<body>
    <div class="container">
        <div class="content">
            <p id="txt"></p>
            <div class="btns">
                <button id="get1">Get Employee 1</button>
                <button id="getall">Get All Employee</button>
                <button id="get2">Get Employee 2</button>
            </div>
        </div>
    </div>
</body>
</html>